# Exemplo de uso do Pandas

In [7]:
import pandas as pd

NameError: name 'pd' is not defined

In [ ]:
df = pd.DataFrame(
    {
            "Name": [
                "Braund, Mr. Owen Harris",
                "Allen, Mr. William Henry",
                "Bonnell, Miss. Elizabeth",
            ],
            "Age": [22, 35, 58],
            "Sex": ["male", "male", "female"],
        }
)

df